<section id="content">
	<article id="links">
	<h2 >Current links</h2>
	<ul>
		<% @links.each do |link| %>
			<li>
				<h3><a href="<%= link.url %>"><%= link.title %></a></h3>
				<p><%= link.description %></p>
				<p id="link-user">Submitted by <%= link.user.email %></p>
			</li>
		<% end %>
	</ul>
	</article>
	<article id="tags">
	<% if @tags %>
		<h2>Tags</h2>
		<ul>
			<% @tags.each do |tag| %>
				<li>
					<a href="/tags/<%= tag.text%>"><%= tag.text %></a>
				</li>
			<% end %>
		</ul>
	<% end %>
	</article>
</section>